<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="../../static/css/styles.css">
<!--Footer fragment-->
<footer>
    <div class="footer-content">
        <div class="logo">
            <img src="../../static/images/logo-hikari.png" alt="HikariJP Logo">
        </div>
        <div class="quick-links">
            <h4>Quick Link</h4>
            <ul class="list">
                <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Translation</a></li>
                <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Lookup</a></li>
                <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> JLPT Test</a></li>
                <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Premium</a></li>
                <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Flashcard</a></li>
            </ul>
        </div>
        <div class="contact-info">
            <h4>Contact Us</h4>
            <ul class="list">
                <li><i class="fas fa-phone"></i> 0702411147</li>
                <li><i class="fas fa-map-marker-alt"></i> 12 My Da Tay 8, Khue My, Ngu Hanh Son, Da Nang City</li>
                <li><i class="fas fa-envelope"></i> hikari-jp@gmail.com</li>
            </ul>
        </div>
    </div>
</footer>
