
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/Header.css?v=1.0.1">
</head>
<body>
<div th:fragment="header" class="header">
    <div class="header-logo">
        <img src="../../static/images/logo.png">
    </div>
    <div class="header-searchbar">
        <form action="SearchServlet" method="post" >
            <input type="text" class="search-bar" name="search-bar" placeholder="Find out......">
            <a class="submit-button" type="submit" >
                <i class="fa fa-search"></i>
            </a>
        </form>
    </div>

    <div class="header-navigate">
        <div class="home">
            <a href="Translate.html">Home</a>
        </div>
        <div class="lookup active">
            <a href="">Translation</a>
        </div>
        <div class="lookup">
            <a href="lookUp.html">Look Up</a>
        </div>

        <div class="JLPT">
            <a href="">JLPT Test</a>
        </div>
        <div class="Premium">
            <a href="">Premium</a>
        </div>
        <div class="">
            <a href="">FlashCard</a>
        </div>
        <div class="">
            <a href="">Contact</a>
        </div>
    </div>
    <div class="user-image">
        <img src="../../static/images/user_image.jpg" alt="">
    </div>
</div>
</body>
</html>
