<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forget Password Page</title>
    <link rel="stylesheet" href="/css/forget-password.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
<div class="container">
    <div class="logo-section">
        <img src="/images/logo-hikari.png" alt="HIKARIJP">
    </div>
    <div class="forget-password-section">
        <h2>Forget Password</h2>
        <span class="error-message" th:if="${error}" th:text="${error}" style="color:red;"></span>
        <form action="/forget-password" method="post">
            <label for="email">Email address</label>

            <div class="input-group">
                <input type="email" name="email" id="email" placeholder="alex@email.com" th:value="${email}">
                <span class="icon"><i class="bi bi-envelope"></i></span>
            </div>
            <button type="submit" class="request-btn">Request password reset</button>
            <p>OR</p>
            <button type="button" class="login-btn" onclick="window.location.href='/login'">
                Remember your password?<span>   Login now</span></button>
        </form>
    </div>
</div>
</body>
</html>