<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HikariJP</title>
    <link rel="stylesheet" href="/css/landingPage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>

<div class="header">
    <div class="header-logo">
        <img src="/images/logo-hikari.png">
    </div>
    <div class="header-searchbar">
        <form action="SearchServlet" method="post" >
            <input type="text" class="search-bar" name="search-bar" placeholder="Find out......">
            <a class="submit-button" type="submit" >
                <i class="fa fa-search"></i>
            </a>
        </form>
    </div>

    <div class="header-navigate">
        <div class="landingpage">
            <a href="landingPage.html">Home</a>
        </div>

        <div class="lookup active">
            <a href="lookUp.html">Look Up</a>
        </div>

        <div class="jlpt">
            <a href="">JLPT Test</a>
        </div>

        <div class="premium">
            <a href="premium.html">Premium</a>
        </div>

        <div class="dropdown-item">
            <div class="nav-link">
                QuizzInterface <i class="ri-arrow-down-s-line dropdown__arrow"></i>
            </div>

            <ul class="dropdown-menu">
                <li>
                    <a href="flashcards.html" class="dropdown-link">FlashCard</a>
                </li>
                <li class="dropdown-subitem">
                    <div class="dropdown-link">
                        Quiz <i class="ri-add-line dropdown__add"></i>
                    </div>

                    <ul class="dropdown_submenu">
                        <li>
                            <a th:href="@{/quizzInterface(level='N5')}" class="dropdown_sublink">N5</a>
                        </li>

                        <li>
                            <a th:href="@{/quizzInterface(level='N4')}" class="dropdown_sublink"> N4</a>
                        </li>

                        <li>
                            <a  th:href="@{/quizzInterface(level='N3')}" class="dropdown_sublink">N3</a>
                        </li>

                        <li>
                            <a  th:href="@{/quizzInterface(level='N2')}" class="dropdown_sublink">N2</a>
                        </li>
                        <li>
                            <a  th:href="@{/quizzInterface(level='N1')}" class="dropdown_sublink">N1</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-link">Writing</a>
                </li>
                <li>
                    <a href="Practice.html" class="dropdown-link">MiniTest</a>
                </li>
            </ul>
        </div>

        <div class="contact">
            <a href="">Contact</a>
        </div>
    </div>
        <div class="auth-buttons">
            <button class="sign-in" onclick="window.location.href='/login'">Sign In</button>
            <button class="register" onclick="window.location.href='/register'">Register</button>
        </div>
    </div>
</div>

</header>
<!-- Hero Section -->
    <section class="hero">
        <div class="hero-image">
            <img src="/images/landing-page.png" alt="Japanese Landing Page image">
        </div>
        <div class="hero-content">
            <h2>Master JLPT at Home</h2>
            <h1>Easier Than Ever</h1>
            <h2>Start Today!</h2>
            <button class="start-now">Start Now</button>
        </div>
    </section>

    <!-- Plans Section -->
    <section class="plans">
        <h2>Choose Your Plan</h2>
        <div class="plan-cards">
            <div class="plan-card premium">
                <h3>ONLINE PREMIUM</h3>
                <div class="plan-content">
                    <div class="plan-icon">
                        <img src="/images/Preminum-logo.png" alt="Premium Icon">
                    </div>
                    <p>Unlock unlimited flashcard quizzes and all advanced features to accelerate your learning journey.</p>
                </div>
                <div class="jlpt-levels">
                    <span class="level">N5</span>
                    <span class="level">N4</span>
                    <span class="level">N3</span>
                    <span class="level">N2</span>
                    <span class="level">N1</span>
                </div>
            </div>
            <div class="plan-card basic">
                <h3>ONLINE BASIC</h3>
                <div class="plan-content">
                    <div class="plan-icon">
                        <img src="/images/Basic-logo.png" alt="Basic Icon">
                    </div>
                    <p>Free access! Look up words and take up to 3 quizzes to test your knowledge.</p>
                </div>
                 <div class="jlpt-levels">
                    <span class="level">N5</span>
                    <span class="level">N4</span>
                    <span class="level">N3</span>
                    <span class="level">N2</span>
                    <span class="level">N1</span>
                </div>
            </div>
        </div>
    </section>
    <section class="chosen-reason">
        <h2>Why Choose Us?</h2>
        <div class="chosen-reason-content">
            <div class="chosen-icon">
                <img src="/images/chosen-logo.png" alt="Chosen Icon">
            </div>
            <p>Learning Japanese with HikariJP is not just about mastering a language; it's about exploring knowledge and culture, broadening your horizons, and fostering personal growth. With us, you will confidently take firm steps on your journey to conquering the peaks of your career and life.</p>
        </div>
    </section>
<!--<div th:replace="fragments/footer :: footer"></div>-->
<!--Footer fragment-->
    <footer>
        <div class="footer-content">
            <div class="logo">
                <img src="/images/logo-hikari.png" alt="HikariJP Logo">
            </div>
            <div class="quick-links">
                <h4>Quick Link</h4>
                <ul class="list">
                    <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Translation</a></li>
                    <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Lookup</a></li>
                    <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> JLPT Test</a></li>
                    <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Premium</a></li>
                    <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Flashcard</a></li>
                </ul>
            </div>
            <div class="contact-info">
                <h4>Contact Us</h4>
                <ul class="list">
                    <li><i class="fas fa-phone"></i> 0702411147</li>
                    <li><i class="fas fa-map-marker-alt"></i> 12 My Da Tay 8, Khue My, Ngu Hanh Son, Da Nang City</li>
                    <li><i class="fas fa-envelope"></i> hikari-jp@gmail.com</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
