<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
  <div class="container">
    <div class="logo-section">
      <img src="/images/logo-hikari.png" alt="HIKARIJP">
    </div>
    <div class="login-section">
      <h2>Login</h2>
      <p>Login into your account</p>
      <c:if test="${param.error == 'true'}">
        <p style="color: red"> Email or password is invalid. Please try again. </p>
      </c:if>
      <form action="/login" method="post">
        <label for="email">Email address</label>
        <div class="input-group">
          <input type="email" id="email" name="email" placeholder="alex@email.com" th:value="${email != null ? email : ''}" required>
          <span class="icon"><i class="bi bi-envelope"></i></span>
        </div>

        <label for="password">Password</label>
        <div class="input-group">
          <input type="password" id="password" name="password" placeholder="Enter your password" th:value="${password != null ? password : ''}" required>
          <span class="icon"><i class="bi bi-lock"></i></span>
        </div>

        <a href="/forget-password" class="forgot-password">Forgot password?</a>
        <button type="submit" class="login-btn">Login now</button>
        <p>OR</p>
        <button type="button" class="google-btn" onclick="window.location.href='/oauth2/authorization/google'">
          <svg class="google-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white">
            <path d="M12.545,10.239v3.821h5.445c-0.712,2.315-2.647,3.972-5.445,3.972c-3.332,0-6.033-2.701-6.033-6.032s2.701-6.032,6.033-6.032c1.498,0,2.866,0.549,3.921,1.453l2.814-2.814C17.503,2.988,15.139,2,12.545,2C7.021,2,2.543,6.477,2.543,12s4.478,10,10.002,10c8.396,0,10.249-7.85,9.426-11.748L12.545,10.239z" />
          </svg>
          Login with Google
        </button>
        <p>If you don't have account, <a href="/register" class="signup-link-register">sign up now</a></p>
      </form>
    </div>
  </div>
</body>
</html>