<!DOCTYPE html>
<html lang="java">
<head>
    <meta charset="UTF-8">
    <title>Practice</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/Practice.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="header">
    <div class="header-logo">
        <img th:src="@{/images/logo-hikari.png}">
    </div>
    <div class="header-searchbar">
        <form action="" method="post" >
            <input type="text" class="search-bar" name="search-bar" placeholder="Find out......">
            <a class="submit-button" type="submit" >
                <i class="fa fa-search"></i>
            </a>
        </form>
    </div>

    <div class="header-navigate">
        <div class="home">
            <a th:href="@{/landingPage}">Home</a>
        </div>
        <div class="lookup active">
            <a th:href="@{/practice}">Practice</a>
        </div>
        <div class="lookup">
            <a th:href="@{/lookUp}">Look Up</a>
        </div>

        <div class="JLPT">
            <a href="">JLPT Test</a>
        </div>
        <div class="Premium">
            <a href="">Premium</a>
        </div>
        <div class="">
            <a href="">FlashCard</a>
        </div>
        <div class="">
            <a href="">Contact</a>
        </div>
    </div>
</div>

<input type="hidden" id="checkValue" th:value="${readingPractices}">

<div class="body-img"><img th:src="@{/images/background_practice.png}" alt=""></div>

    <div class="first-body">

        <div class="level">
            <div class="level-head">レベル</div>
            <div class="level-content" id="1">N1</div>
            <div class="level-content" id="2">N2</div>
            <div class="level-content" id="3">N3</div>
            <div class="level-content" id="4">N4</div>
            <div class="level-content" id="5">N5</div>
        </div>

        <div class="type-and-topic">
            <div class="type">
                <div class="subject">
                    <div class="subject-content">どっかい</div>
                    <div class="subject-content">ちょうかい</div>
                    <div class="subject-content">ぶんぽう</div>
                    <div class="subject-content">たんご</div>
                </div>
                <div class="grade">
                    <div class="grade-content">10</div>
                    <div class="grade-content">20</div>
                    <div class="grade-content">30</div>
                </div>
            </div>
            <div class="topic">
                <div class="topic-num" id="topic1">1</div>
                <div class="topic-num" id="topic2">2</div>
                <div class="topic-num" id="topic3">3</div>
                <div class="topic-num" id="topic4">4</div>
                <div><img th:src="@{/images/Lock.png}" alt=""></div>
                <div><img th:src="@{/images/Lock.png}" alt=""></div>
            </div>
        </div>
<form id="myForm" action="/getReadingPractice" method="GET">
        <input type="hidden" name="level_id" id="level_test_reading" value="">
        <input type="hidden" id="level_test" value="">
        <input type="hidden" id="subject_test" value="">
        <input type="hidden" name="topic_num" id="topic_test" value="">
        <input type="hidden" id="grade-test" value="">
</form>
    </div>
    <div class="start-button1"><button class="start-button" type="button">Start</button></div>


    <div class="second-body">
            <div class="second-body-1">
                <div class="time" id="time">60:00</div>
                <div class="subject-name"></div>
                <div class="submit-answer"><button class="submit-answer-button" onclick="submitQuiz()">Submit</button></div>
            </div>
            <div class="toggle-div">
                <i class="fas fa-angle-double-down" id="toggleQuestions"></i>
            </div>
            <div class="question_num">

            </div>
        <div th:if="${readingPractices != null}">
        <div class="passage" th:text="${readingPractices.getPassage()}">

        </div>
        <div class="question">
            <div class="question-content num1" th:each="question : ${readingPractices.getPracticeDetails()}">
                <div class="question-in num1" th:text="${question.getTestQuestion().getQuestion_text()}"></div>
                <div class="answer" th:text="${question.getTestQuestion().getChoice_a()}"></div>
                <div class="answer" th:text="${question.getTestQuestion().getChoice_b()}"></div>
                <div class="answer" th:text="${question.getTestQuestion().getChoice_c()}"></div>
                <div class="answer" th:text="${question.getTestQuestion().getChoice_d()}"></div>
                <input type="hidden" value="" >
            </div>
        </div>
        </div>
    </div>
<footer>
    <div class="footer-content">
        <div class="logo">
            <img th:src="@{/images/logo.png}" alt="HikariJP Logo">
        </div>
        <div class="quick-links">
            <h4>Quick Link</h4>
            <ul class="list">
                <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Translation</a></li>
                <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Lookup</a></li>
                <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> JLPT Test</a></li>
                <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Premium</a></li>
                <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Flashcard</a></li>
            </ul>
        </div>
        <div class="contact-info">
            <h4>Contact Us</h4>
            <ul class="list">
                <li><i class="fas fa-phone"></i> 0702411147</li>
                <li><i class="fas fa-map-marker-alt"></i> 12 My Da Tay 8, Khue My, Ngu Hanh Son, Da Nang City</li>
                <li><i class="fas fa-envelope"></i> hikari-jp@gmail.com</li>
            </ul>
        </div>
    </div>
</footer>
<script th:src="@{/js/practice.js}"></script>
</body>


</html>
