<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/premium.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <header>
    <nav class="navbar" th:fragment="navbar">
        <div class="logo">
            <img src="../static/images/logo-hikari.png" alt="HikariJP Logo">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <button><i class="bi bi-search"></i></button>
        </div>

        <div class="nav-links">
            <a href="#">Translation</a>
            <a href="#">Lookup</a>
            <a href="#">JLPT Test</a>
            <a href="#">Premium</a>
            <a href="#">Flashcard</a>
            <a href="#">Contact</a>
        </div>
        <div class="auth-buttons">
            <button class="sign-in">Sign In</button>
            <button class="register">Register</button>
        </div>
    </nav>
</header>
<div class="body1-img">
    <div class="banner">
        <img class="banner-img" src="../static/images/Banner.png" alt="banner">
    </div>
    
    <div class="plans ">
        <div class="plan ">
            <h3 ><i>1 Month</i></h3>
            <p class="versionHighlight">Basic version</p>
            <p class="price">200k</p>
        </div>
        <div class="plan-special">
            <div class="discount">-30%<br>LIFETIME</div>
            <h2><i>Most popular</i></h2>
            <p class="highlight price">200k</p>
        </div>
        <div class="plan"> 
            <h3><i>1 Year</i></h3>
            <p class="versionHighlight">Basic version</p>
            <p class="price">200k</p>
        </div>
    </div>
</div>


    <footer>
        <div class="footer-content">
            <div class="logo">
                <img src="../static/images/logo-hikari.png" alt="HikariJP Logo">
            </div>
            <div class="quick-links">
                <h4>Quick Link</h4>
                <ul class="list">
                    <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Translation</a></li>
                    <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Lookup</a></li>
                    <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> JLPT Test</a></li>
                    <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Premium</a></li>
                    <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Flashcard</a></li>
                </ul>
            </div>
            <div class="contact-info">
                <h4>Contact Us</h4>
                <ul class="list">
                    <li><i class="fas fa-phone"></i> 0702411147</li>
                    <li><i class="fas fa-map-marker-alt"></i> 12 My Da Tay 8, Khue My, Ngu Hanh Son, Da Nang City</li>
                    <li><i class="fas fa-envelope"></i> hikari-jp@gmail.com</li>
                </ul>
            </div>
        </div>
    </footer>
    
</body>
</html>