<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/quizzInterface1.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">    
</head>
<body>
    <div class="body1-img">
    <header>
        <nav class="navbar" >
            <div class="logo">
                <img src="../static/images/logo-hikari.png" alt="HikariJP Logo">
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search">
                <button><i class="bi bi-search"></i></button>
            </div>
    
            <div class="nav-links">
                <a href="#">Translation</a>
                <a href="#">Lookup</a>
                <a href="#">JLPT Test</a>
                <a href="#">Premium</a>
                <a href="#">Flashcard</a>
                <a href="#">Contact</a>
            </div>
            <div class="auth-buttons">
                <button class="sign-in">Sign In</button>
                <button class="register">Register</button>
            </div>
        </nav>
    </header>
    
   <!-- main content -->
        <div class="button-container">
            <button class="button" onclick="window.location.href='flashcards.html'">Flashcard</button>
            <button class="button" onclick="window.location.href='Quizz.html.html'">Quiz</button>
            <button class="button" onclick="changeMode('writing')">Writing</button>
            <button class="button" onclick="window.location.href='Practice.html'">Mini Test</button>
        </div>
    
        <div class="container">
            <div class="sidebar">
                <h3>JLPT</h3>
                <label><input type="radio" name="wordType" value="vocabulary" checked> Vocabulary</label><br>
                <label><input type="radio" name="wordType" value="kanji"> Kanji</label><br>
                <label><input type="radio" name="wordType" value="grammar"> Grammar</label>
                <h4>Level</h4>
                <label><input type="radio" name="level" checked> N5</label><br>
                <label><input type="radio" name="level"> N4</label><br>
                <label><input type="radio" name="level"> N3</label><br>
                <label><input type="radio" name="level"> N2</label><br>
                <label><input type="radio" name="level"> N1</label>
            </div>
            
            <div class="content">
                <div class="controls">
                    <label id="vocabularyToggleContainer" style="display: none;"><input type="checkbox" id="toggleKanji"  checked> Từ vựng</label>
                    <label id="readingToggleContainer"><input type="checkbox" id="toggleReading" checked> Phiên âm</label>
                    <label><input type="checkbox" id="toggleMeaning" checked> Nghĩa</label>
                </div>
                <h3>Vocabulary List</h3>
                <div id="vocabularySection" class="word-list active">
                    <div class="word-item">
                        <span class="reading">わたし</span>
                        <span class="meaning">Tôi</span>
                    </div>
                    <div class="word-item">
                        <span class="reading">なに / なん</span>
                        <span class="meaning">Cái gì</span>
                    </div>
                   
                    <div class="word-item">
                        <span class="reading">わたし123123</span>
                        <span class="meaning">Tôi</span>
                    </div>
                    <div class="word-item">
                        <span class="reading">なに / なん</span>
                        <span class="meaning">Cái gì</span>
                    </div>
                   
                    <div class="word-item">
                        <span class="reading">なに / なん</span>
                        <span class="meaning">Cái g12312321ì</span>
                    </div>
                </div>
                <!-- Kanji Section -->
                <!-- <h3 id="kanjiTitle" style="display: none;">Kanji List</h3> -->
                <div id="kanjiSection" class="word-list">
                    <div class="word-item" data-kanji="日" data-kunyomi="ひ -び -か" data-onyomi="ニチ ジツ" 
                    data-stroke="4" data-jlpt="N5" 
                    data-meaning="day, sun, Japan, counter for days" 
                    data-image="">
                        <span class="kanji">日</span>
                        <span class="reading">にち / ひ</span>
                        <span class="meaning">Mặt trời, ngày</span>
                    </div>
                    <div class="word-item">
                        <span class="kanji">月</span>
                        <span class="reading">げつ / つき</span>
                        <span class="meaning">Mặt trăng, tháng</span>
                    </div>
                </div>
                <!-- Grammar Section -->
                <div id="grammarSection" class="word-list">
                    <div class="word-item">
                        <span class="kanji">～ている</span>
                        <span class="meaning">Đang làm gì</span>
                    </div>
                    <div class="word-item">
                        <span class="kanji">～なければならない</span>
                        <span class="meaning">Phải làm gì</span>
                    </div>
                    <div class="word-item">
                        <span class="kanji">～ている</span>
                        <span class="meaning">Đang làm gì</span>
                    </div>
                   
                </div>
                
                <div class="pagination">
                    
                </div>
            </div>
                <!-- Popup Modal -->
        <div id="kanjiModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="modal-header">
                    <h2 id="modalKanji"></h2>
                </div>
                <div class="modal-body">
                    <div class="kanji-details">
                        <p><strong>訓読み (Kunyomi):</strong> <span id="modalKunyomi" class="kunyomi"></span></p>
                        <p><strong>音読み (Onyomi):</strong> <span id="modalOnyomi" class="onyomi"></span></p>
                        <p><strong>ストローク (Strokes):</strong> <span id="modalStroke"></span></p>
                        <p><strong>JLPT Level:</strong> <span id="modalJLPT"></span></p>
                        <p><strong>意味 (Meaning):</strong> <span id="modalMeaning"></span></p>

                    </div>
                    <div class="kanji-image">
                        <img id="modalImage" src="" alt="Stroke Order">
                    </div>
                </div>
            </div>
        </div>
            
        </div>
        <script src="../static/js/quizzInterace.js"> </script>
        
       

    </div>
    <footer>
        <div class="footer-content">
            <div class="logo">
                <img src="../static/images/logo-hikari.png" alt="HikariJP Logo">
            </div>
            <div class="quick-links">
                <h4>Quick Link</h4>
                <ul class="list">
                    <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Translation</a></li>
                    <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Lookup</a></li>
                    <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> JLPT Test</a></li>
                    <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Premium</a></li>
                    <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Flashcard</a></li>
                </ul>
            </div>
            <div class="contact-info">
                <h4>Contact Us</h4>
                <ul class="list">
                    <li><i class="fas fa-phone"></i> 0702411147</li>
                    <li><i class="fas fa-map-marker-alt"></i> 12 My Da Tay 8, Khue My, Ngu Hanh Son, Da Nang City</li>
                    <li><i class="fas fa-envelope"></i> hikari-jp@gmail.com</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>