<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/forget-password.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
<div class="container">
    <div class="logo-section">
        <img src="/images/logo-hikari.png" alt="HIKARIJP">
    </div>
    <div class="forget-password-section">
        <h2>Forget Password</h2>
        <form action="/reset-password" method="post">
            <label for="new-password">New Password</label>
            <div class="input-group">
                <input type="password" name="newPassword" id="new-password" placeholder="Enter new password">
                <span class="icon"><i class="bi bi-lock"></i></span>
            </div>

            <label for="re-password">Re-enter Password</label>
            <div class="input-group">
                <input type="password" name="rePassword" id="re-password" placeholder="Enter re-enter new password">
                <span class="icon"><i class="bi bi-lock"></i></span>
            </div>

            <button type="submit" class="request-btn">Request password reset</button>
        </form>
    </div>
</div>
</body>
</html>