<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/testJLPT.css">
    <title>Title</title>
</head>
<body>
<div class="header">
    <button class="selected">Từ vựng</button>
    <button>Ngữ pháp</button>
    <button>Thi nghe</button>
</div>
<div class="container">

    <div class="content">

        <div class="question">
            <p>1. ___のことばは ひらがなで同かきますか。1. 2. 3. 4から、一番いいものをひとつ えらんでください</p>
            <div class="box">
                <p>1.1 おふろに <span style="color: red;">入って</span> 少し休んでから、べんきょうします。</p>
                <ul class="choices">
                    <li><input type="radio" name="q1"> はって</li>
                    <li><input type="radio" name="q1"> はいって</li>
                    <li><input type="radio" name="q1"> いって</li>
                    <li><input type="radio" name="q1"> いれて</li>
                </ul>
            </div>
        </div>
        <div class="question">
            <div class="box">
                <p>1.2 わたしは毎日<span style="color: red;">勉強</span>します。</p>
                <ul class="choices">
                    <li><input type="radio" name="q2"> べんきょう</li>
                    <li><input type="radio" name="q2"> べんこう</li>
                    <li><input type="radio" name="q2"> べんぎょう</li>
                    <li><input type="radio" name="q2"> べんきょ</li>
                </ul>
            </div>
        </div>
        <div class="question">
            <div class="box">
                <p>1.3 example 3。</p>
                <ul class="choices">
                    <li><input type="radio" name="q3"> 1</li>
                    <li><input type="radio" name="q3"> 2</li>
                    <li><input type="radio" name="q3"> 3</li>
                    <li><input type="radio" name="q3"> 4</li>
                </ul>
            </div>
        </div>
        <div class="question">
            <div class="box">
                <p>1.4 example 4。</p>
                <ul class="choices">
                    <li><input type="radio" name="q4"> 1</li>
                    <li><input type="radio" name="q4"> 2</li>
                    <li><input type="radio" name="q4"> 3</li>
                    <li><input type="radio" name="q4"> 4</li>
                </ul>
            </div>
        </div>
        <div class="question">
            <div class="box">
                <p>1.5 example 5。</p>
                <ul class="choices">
                    <li><input type="radio" name="q5"> 1</li>
                    <li><input type="radio" name="q5"> 2</li>
                    <li><input type="radio" name="q5"> 3</li>
                    <li><input type="radio" name="q5"> 4</li>
                </ul>
            </div>
        </div>
        <div class="question">
            <div class="box">
                <p>1.6 example 6。</p>
                <ul class="choices">
                    <li><input type="radio" name="q6"> 1</li>
                    <li><input type="radio" name="q6"> 2</li>
                    <li><input type="radio" name="q6"> 3</li>
                    <li><input type="radio" name="q6"> 4</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="right-panel">
    <h3>Thời gian làm bài</h3>
    <p>XX:XX:XX</p>
    <div class="progress">
        <div class="progress-bar"></div>
    </div>
    <div class="question-boxes">



    </div>
    <button class="submit-btn">Nộp bài</button>
</div>
<script src="/js/testJLPT.js"></script>
</body>
</html>