<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test quiz</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/testQuizz.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

    <div class="quiz-header">
      <h1>Japanese Quiz</h1>
      <p class="progress">Progress: 2/3 questions answered</p>
    </div>

    <div class="quiz-container">
      <div class="quiz-content">
        <div class="question-card">
          <div class="question-header">
            <span class="question-number"></span>
          </div>
          <div class="question-content">
            <h2 class="japanese-text"></h2>
            <p class="translation"></p>
          </div>
          <div class="options-grid">
            <button class="option"></button>
            <button class="option"></button>
            <button class="option"></button>
            <button class="option"></button>
          </div>
        </div>

      </div>
    </div>

    <footer>
      <div class="footer-content">
        <div class="logo">
          <img src="../static/images/logo-hikari.png" alt="HikariJP Logo">
        </div>
        <div class="quick-links">
          <h4>Quick Link</h4>
          <ul class="list">
            <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Translation</a></li>
            <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Lookup</a></li>
            <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> JLPT Test</a></li>
            <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Premium</a></li>
            <li><i class="bi bi-caret-right"></i><a href="#"><i class="fas fa-angle-right"></i> Flashcard</a></li>
          </ul>
        </div>
        <div class="contact-info">
          <h4>Contact Us</h4>
          <ul class="list">
            <li><i class="fas fa-phone"></i> 0702411147</li>
            <li><i class="fas fa-map-marker-alt"></i> 12 My Da Tay 8, Khue My, Ngu Hanh Son, Da Nang City</li>
            <li><i class="fas fa-envelope"></i> hikari-jp@gmail.com</li>
          </ul>
        </div>
      </div>
    </footer>
</body>
<script src="/js/quizTest.js"></script>
</html>
