<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction history </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/Transaction.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="profile-container">
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="profile-pic">
            <img th:src="${userDetail.avatar != null ? '/upload/' + userDetail.avatar : '/images/profile-image.png'}"
                 alt="Profile Picture">
        </div>
        <nav class="menu">
            <a href="/profile"><i class="bi bi-person-circle bi-icon"></i>Personal information</a>
            <a href="transaction-history" class="active"><i class="bi bi-clock-history bi-icon"></i>Transaction history</a>
            <a href="/security"><i class="bi bi-shield-lock bi-icon"></i>Security</a>
        </nav>
    </aside>

    <!-- Main Content -->
    <main class="content">
        <h2>Transaction History</h2>
        <div class="sort">
            <label for="sort-option"></label>
            <select id="sort-option" class="sort-select">
                <option value="newest">Newest First</option>
                <option value="oldest">Oldest First</option>
            </select>
        </div>
        <table>
            <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Date</th>
                <th>Server Package</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="tran : ${trans}">
                <td th:text="${tran.user.getId()}"></td>
                <td th:text="${#temporals.format(tran.transactionDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${tran.getAmount()}"></td>
                <td th:text="${tran.getAmount()}"></td>
                <td class="status paid">Paid</td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>